
<!DOCTYPE html>
<html>
<head>
	<title><%= htmlWebpackPlugin.options.title %></title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<%= htmlWebpackPlugin.options.scriptSdk %>

</head>
<body>

	<div class="s-hd">
		<h1 class="text-center s-hd-tie">
			Lantu MC-JS-SDK Example
		</h1>
	</div>

	<div class="s-bd">

		<div class="s-main r-box">
			<div class="s-main-view scroll-y"></div>
		</div>

		<p class="s-result">
			<b>Results:</b>
		</p>

		<div class="s-sub r-box">
			<div class="s-sub-view scroll-y">
				<pre class="j_results j_results_message none">
				</pre>
				<img class="j_results j_results_photo none img-responsive" />
			</div>
		</div>
	</div>

	<%= htmlWebpackPlugin.options.scriptVConsole %>

</body>
</html>
